%section.mod-intro
  .layout-wrap
    .heading
      %h1
        Letterpress Strategy Guide
        %span
          At Native Tongue HQ we've been obsessed with a new iPhone app, the
          %a{:href => "https://itunes.apple.com/us/app/letterpress-word-game/id526619424?mt=8", :target => "_blank", :title => "Letterpress app"} Letterpress
          game. Its a fantastic spelling game which you can use to practice your English spelling. The game has a board with 25 letters in a 5 x 5 format.
%section.content
  .layout-wrap
    .intro
      %p
        It feels like a mixture of Words with friends, Draw Something, Spell Tower and Scrabble. The game is simple in design yet also complex. It was built by Loren Brichter, the creator of Tweetie for the iphone and mac. We've been playing it non-stop for the past 3 days. Here is our strategy guide on how to play letterpress based on our experiences. We've also created the
        #{link_to("LP Strategy","https://itunes.apple.com/app/lp-strategy-for-letterpress/id577258913?mt=8", :target => "_blank", :title => "LP Strategy")}
        app that can help you if you get stuck in the game.
    %h2 Letterpress Game Rules
    %p
      Its important to note a few basic rules.
      %ol
        %li Using an opponent's tile gives you one point and takes away one point from your opponent. These tiles will also change in colour to your side's colour.
        %li If coloured is surrounded on all 4 sides by tiles of similar colour, it will become a darker colour. If you use this tile, you will receive no points.
        %li When dark coloured tiles are used, they remain a dark colour (they do not change to your side's colour).
        %li If you use letter tiles from around a darker coloured tile, it will return it to a lighter colour.
        %li Each game has a limited number of vowels that can be used
        %li The game ends when all the tiles are used. The winner is the player with more points than the other.
    %h2 Letterpress Game Strategy
    %p
      Positional strategy is critical in Letterpress. Occupying the corners, edges and vowels is extremely advantageous. Seek to take out valuable positions such as certain sections on the board or secure valuable letters.
      %br
      %strong Control the corners and edges
      You want to control the corners and edges, so you can control the letters in those areas. By building from there, you can protect those letters and make them a darker colour. Although they can still be used by your opponent, they will receive no points for using them. Taking the corners and edges also mean that you can't be outflanked and these tiles change colour on you. By slowing focusing on the corners and building from there, you can extend your influence in the game. Corners are even more valuable when they have vowels (A, E, I, O, U) or commonly used letters like T, R, M, etc..
    %p
      Your opponent will have to think twice about using those blocks once you've secured those letters.
      %br
    %h3 Strategy example: Control corner
    %p
      One particular strategy that has worked for us is to have brutal focus on one corner. Once you've controlled it, then extend that control and fan out to one side of the board. Corners are also easier to protect than if you are in the middle of the board. You might not win many friends by using this strategy, but it works. Here is how to do it.
    %h3 Step 1: Secure corner with vowels
    %p
      In the example below, we wanted to control this particular corner as it had the vowels "A, E, O". In addition the letter "I" is very closeby. If we can control this corner which has the vowels, you take away the opponents ability to use the vowels.
      %br
      =image_tag("Letterpress-1.jpg", :alt => "", :height => "224", :title => "Letterpress - 1", :width => "300")
    %h3 Step 2: Use nearby tiles to expand
    %p
      So the next word that we played was "ASTEROID". This allowed us to control that corner by taking the letter "S" and "I". This also resulted in the letter "O" becoming dark colour. Then we start expanding our blue empire.
      %br
      =image_tag("Letterpress-2.jpg", :alt => "", :height => "224", :title => "Letterpress - 2", :width => "300")
    %h3 Step 3: Secure edge
    %p
      After securing the corner, we then look to move to the edge. You can either expand up or across to extend your influence. In this game I ended up expanding to the left and securing the bottom two rows. Once you are able to control one side, it is very demoralising for the opponent because they either have to:
      %ol
        %li Use your dark coloured tiles which result in no points
        %li Use the remaining light coloured ones to get points.
    %p
      In the example below, the opponent has very little chance of winning, and in fact forfeited.
      %br
      =image_tag("Letterpress-control_edge.jpg", :alt => "", :height => "224", :title => "Letterpress - control edge", :width => "300")
    %h3 Use opponent's light coloured tiles for a two point advantage
    %p
      Its better to use your opponent's light coloured tiles than new tiles. This is because it gives you a two point advantage - you gain one point and the opponent loses a point. The best outcome is a winning choice which enables you to get your opponents score to go down and yours to go up at the same time.
    %p
      Sometimes you are faced with a scenario where you can increase your score by one point or decrease theirs by one point. Our general preference is to keep our opponent's score down as opposed to using new tiles to increase your score (e.g. 6 - 10 is better than 7 - 11). We prefer keeping their score down, because a) more demoralising to see their score go down b) they have to work harder to get it back up.
    %p
      You must balance the positional strategy with the scoring outcome. The optimal scenario is when you can use your opponent's tiles near a corner or a section which you want to control. This will enable you to form a buffer around a corner and keep extending your influence.
    %p
      If you are prepared to wage a longer drawn out battle and you are confident with your ability to come up with long words and you can visualise them, I'd go for the positions as opposed to the higher score. Over time, you can wear them down by taking out key tiles which they gain no advantage for using.
      %br
      %strong Longer words can give you more points
      In most cases, longer words can give you more points. This is when you are able to use more of your opponents letters or blank tiles that are available. Longer words also can have a mental effect on your opponent - you think "how did they come up with that? I wish I could have thought of that!". It can be demoralising when you continue to pull out long words. Longer words can also get you out of trouble when your opponent is trying to pin down an area.
    %p
      Some players recommend using longer words early, while others save them for later when you can really crush your opponent. It depends on how obscure those words are, are they easy to identify, and do they have shorter variations that stop other words from being used. If you use the word "QUILTS", it stops another player from using the word "QUILT". However, they can still use the word "QUILTED". You can generally use longer variations but not shorter.
    %p
      Another example is playing the word "position". The words "positional" or "reposition" is still available. If you played "positions", the word "position" will not be available. So consider adding "ing", "re", "ed", "er", "ly", "s" to words to make them longer and to reuse existing words. Try to play the plural of a word if it ends in "s", to prevent others from using the shortened version (plus you probably get an extra point!).
    %p
      You must also be aware that if you play a word, you may lead them into another word that they can reuse and smother you with. You need to be consider what other words could be formed using your combination that are possibly longer, particularly if you are trying to pin down a section.
      %br
    %h3 Opening moves
    %p
      Ideally, you want to open with the longest word to occupy as many tiles as possible. It makes it harder to recover when you start racking up more points. But it must also be balanced with where it is on the board. This strategy involves racking up points early and then working out which tiles you want to control. In this example below, I've opened up with the longest word I could think of - "Fireman". I then decided to control the bottom right hand corner based on my opening move.
      %br
      =image_tag("Letterpress-3.jpg", :alt => "", :height => "224", :title => "Letterpress - 3", :width => "300")
    %h2 Finer points of Letterpress positional strategy
    %p
      When you seek to control tiles, we regard this as a positional strategy. You can tell when your opponent adopts a positional strategy by opening with a move in one corner or on the edge, and keeps coming back to that area to lock it down.
    %p
      The player that starts the game can have an advantage by dictating the positional strategy. If you see them trying to occupy a corner or an edge, you can either defend by taking tiles nearby so they can't build control. We recommend a balance as you also see what is available on the rest of the board. Can you take a few letters nearby and also start building out a base on another section? Try to defend and attack at the same time. Although we mentioned that you should focus on one corner, don't be so blinded by other opportunities as you might be able to secure another area or letter.
    %p
      A tactic that we have found useful is to hedge your bets and take on two corners. You might not secure one corner due to the letters around there, or the opponent has figured out your intentions. So use letters from both corners. Its important to read your opponent and work out what they are trying to do - to either prevent them or to adjust your strategy.
      %br
      %strong Play with the tiles to form words
      You can take your time as you have unlimited time to make a move. We usually have 10-20 games lined up, so that we are never waiting around too long for a game.
    %p
      While you are waiting for your opponent, you can play around with the words. Explore a few scenarios - what happens to the score when you add this letter or remove this one. You can also do the same when its your turn. See which one racks up the higher score and which positions it can take up.
      %br
    %h2 Finishing moves
    %p
      Often I prefer leaving blank tiles and re-using my opponent's light coloured tiles. If you are losing, this is a good strategy to adopt to catchup, as this will bring your opponent's score down. Leave the blank tiles, because the game will be over if they are all used up. Its usually really obscure letters that remain, so leave that for your opponent to figure out how to use them and they may end up creating words with less points.
      %br
      =image_tag("Letterpress-3.jpg", :alt => "", :height => "224", :title => "Letterpress - 3", :width => "300")
      %br
      If I am ahead in the scoring, I will continue to secure more tiles and consider using the blank tiles. Rather than rack up a longer word and maintain my lead, I prefer to end the game with a quick finishing move if I can combine the remaining letters. The longer you prolong the game, the more chance your opponent has to catchup. In the example above, the remaining letters were "J" and "P". I could have gotten more points but I decided to end the game by using the word "Japan".
    %p
      So get the win, feel good and then move onto the next game!
    %h2 Final words
    %p
      There are a variety of strategies that you can adopt to win at Letterpress and hopefully we've given you some food for thought. At Native Tongue, we're all about making language learning fun, fast and effective. So its fantastic that this game is becoming popular and you can have fun with English spelling!
    %p
      If you love Letterpress and love languages, check out our
      = succeed "." do
        %a{:href => "https://itunes.apple.com/app/lp-strategy-for-letterpress/id577258913?mt=8", :target => "_blank", :title => "LP Strategy"} LP Strategy iphone app
      Its a great companion app with helper, hints, and some letterpress cheats.
    %p
      If you have any tips or suggestions, please leave them in the comments below. If you are an educator, please let us know how you are using it in the classroom. We'd love to hear from you. Finally, if you'd like to play us add "Mandarin Madness" in game center!
